<section id="toggle" class="mixin">
  <header>
    <h2>toggle</h2>
    <p>
      Toggle styles a checkbox as an on/off switch.  You can customize most aspects of it.  You can put a label on the switch, you can change the on/off text, and you can specify all the colors in both the on and off states.
    </p>
  </header>
  <div class="tabs">
    <div>
      <span class="active">Use</span>
      <span>Params</span>
      <span>Notes</span>
      <span>Example</span>
    </div>
    <div>
    
      <section class="basic-use active">
        <h3>Basic Use</h3>
        <div>
          <div class='html'>
            <h4>HTML</h4>
            <pre><code>&lt;div class="my-toggle"&gt;<br>  &lt;input type="checkbox" id="my-setting"&gt;<br>  &lt;label for="my-setting"&gt;&lt;span&gt;Heater&lt;/span&gt;&lt;/label&gt;<br>&lt;/div&gt;</code></pre>
          </div>
          <div class='stylus'>
            <h4>Stylus</h4>
            <pre><code>.my-toggle<br>  toggle()</code></pre>
          </div>
        </div>
      </section>

      <section class="params">
        <h2>Parameters and defaults</h2>
        <p>toggle(width:8em, height:2.5em, text: ('OFF' 'ON'), switch:(#b2b3a1 #000), switchOn: (#b2b3a1 #000), off:(#bb9297 #000), on:(#29c910 #000), sideWidth: 0, shadow:1)</p>
        <dl>
          <dt>width</dt>
          <dd>Toggle width</dd>
          <dt>height</dt>
          <dd>Toggle height</dd>
          <dt>text</dt>
          <dd>OFF/ON text</dd>
          <dt>switch</dt>
          <dd>(background-color [text-color]), colors for the moving part of the toggle</dd>
          <dt>switchOn</dt>
          <dd>(background-color text-color), optional alternate colors for the switch in on position</dd>
          <dt>off</dt>
          <dd>(background-color text-color), colors and content for the 'off' part of the toggle</dd>
          <dt>on</dt>
          <dd>(background-color text-color), colors and content for the 'on' part of the toggle</dd>
          <dt>sideWidth</dt>
          <dd>Width of the on/off parts.  When set to 0, mixin sets it to width/2.5.</dd>
          <dt>shadow</dt>
          <dd>inset shadow for on/off parts, set shadow to 0 to disable
        </dl>
      </section>

      <section class="notes">
        <h2>Notes</h2>
        <ul>
          <li>Checkbox must have an id that matches the 'for' attribute of label.  This is because checkbox is hidden and the switch is actually the label.  Setting the 'for' attribute allows us to toggle the checkbox when the label is clicked.</li>
          <li>The span element inside of the label is necessary.  This enables the mixin to vertically center the text.</li>
        </ul>
      </section>

      <section class="example">
        <h2>Example</h2>
        <div class="my-toggle">
          <input type="checkbox" id="my-setting">
          <label for="my-setting"><span>Fan</span></label>
        </div>
      </section>

    </div>
  </div>
</section>