@require '../../../main'

.my-flipcard
  flipCard()
  cursor pointer
  width 300px
  height 300px
  margin 3em auto
  p
    align(both)
    fs(130%)
    font-weight: bold
  & > div
    & > div:first-child
      background yellow
    & > div:last-child
      background teal