@require '../../main'

nav.menu
  background white
  ul
    reset-list()
    a
      background white
      color gray
      font-size 1.5em
      display block
      border-bottom 1px solid #7F7F7F
      padding 0.8em 0.5em
      letter-spacing 0.05em
      transition all 0.1s linear
      &:hover
        background #F3F3F3