<section id="offcanvas">
  <h2>Offcanvas</h2>
  <p class="description">
    The offcanvas mixin allows you to create a menu that hides outside of it's parent element, and opens/closes by adding/removing a class on the parent element.<br>
    The menu on the left side of this page is an example of the offcanvas mixin.
  </p>
  <div class="code">
    <div>
      <h4>HTML</h4>
<pre class="html"><code>
&lt;div class="my-wrap"&gt;
  &lt;div class="menu"&gt;&lt;/div&gt;
  &lt;div class="content"&gt;
    &lt;button&gt;Toggle menu&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </div>
    <div>
      <h4>Stylus</h4>
<pre class="stylus"><code>
.my-wrap
    offcanvas()
</code></pre>
    </div>
    <div>
      <h4>JavaScript</h4>
<pre class="js"><code class="js">
$('button').on('click', function (e) {
  $('.my-wrap').toggleClass('open');
})
</code></pre>
    </div>
  </div> <!-- end of div.code -->
  <div class="specification">
    <h3>Specification</h3>
    <p>There are 2 mixins for creating an offcanvas menu:  offcanvas() and offcanvasMulti().  Multi allows you to create 1-4 offcanvas menus.  Both have similar parameters.  The paramters all have default values unless specified.</p>
    <div>
    <div class="offcanvas-single">
      <h4>offcanvas()</h4>
      <h5>parameters and defaults:</h5>
      <dl>
        <dt>side: 'left'</dt>
        <dd>menu position.  Options are 'top', 'right', 'bottom', or 'left'</dd>
        <dt>size: 15em</dt>
        <dd>width of left/right menus, height of top/bottom menus</dd>
        <dt>share: 40em</dt>
        <dd>min screen width at which menu will share the container with content when menu is open</dd>
        <dt>show: 80em</dt>
        <dd>min screen width at which menu can't be hidden.</dd>
        <dt>push: 0</dt>
        <dd>only applies when share or show don't apply.  set to 0 to have menu go on top of the content.
            set to 1 to have the menu push the content.</dd>
        <dt>menu: '.menu'</dt>
        <dd>css selector for the menu container</dd>
        <dt>content: '.content'</dt>
        <dd>css selector for the content container</dd>
        <dt>open: 'open'</dt>
        <dd>class that gets toggled on the parent container for open/close</dd>
        <dt>transition: all 0.3s ease</dt>
        <dd>css rule for transitions</dd>
      </dl>
    </div>
      <div class="notes">
        <h3>Things to note:</h3>
        <ul>
          <li>To disable share or show, set it to 0.</li>
          <li>To enable share or show at any screen size, set it to 0em.</li>
          <li>The offcanvas menu and content adopt the height of the parent element.  For a full page offcanvas menu, you'll need to specify html, body, and your parent element as height 100%.</li>
          <li>In the previous example, all of the default selectors were used, including .menu-left, .content, and .open.  These can all be specified.</li>
          <li>Offcanvas doesn't have any css rules for the toggle buttons, because there are too many posibilites for where they could put put.
          </li>
        </ul>
      </div>
    </div>
    
    <div class="offcanvas-multi">
      <h4>offcanvasMulti()</h4>
      <p>OffcanvasMulti has basically the same parameters, but there is no 'side' parameter. Instead, you should declare settings for all 4 sides.  You can specify all 4 parameters similar to how you would write css shorthand, "(top right bottom left)".  The default of offcanvasMulti is a left and right menu, both with the same defaults as offcanvas(). Be careful in calling offcanvasMulti.  It's better to specify more than is necessary than not enough.</p>
      <h5>parameters and defaults:</h5>
      <dl>
        <dt>size</dt>
        <dd>(0 15em 0 15em)</dd>
        <dt>share</dt>
        <dd>(0 40em 0 40em)</dd>
        <dt>show</dt>
        <dd>(0 80em 0 80em)</dd>
        <dt>push</dt>
        <dd>(0 0 0 0)</dd>
        <dt>menu</dt>
        <dd>('.menu-top' '.menu-right' '.menu-bottom' '.menu-left')</dd>
        <dt>content</dt>
        <dd>'.content'</dd>
        <dt>open</dt>
        <dd>('open-top' 'open-right' 'open-bottom' 'open-left')</dd>
        <dt>transition</dt>
        <dd>all 0.3s ease</dd>
      </dl>
    </div>
  </div>
  <div class="examples">
    <h3>Examples</h3>
    <div class="oc-examples">
      <div class="oc-1">
        <nav>
<pre><code>offcanvas(side: 'top', size: 8em, share: 0, show: 0, menu: 'nav', content: '.main')</code></pre>
      </nav>
      <div class="main"><button>Toggle Top</button></div>
    </div>
    <div class="oc-2">
      <nav class="menu">
<pre><code>offcanvas(side: 'right', size: 12em, share: 0em, show: 0)</code></pre>
      </nav>
      <div class="content"><button>Toggle Right</button></div>
    </div>
    <div class="oc-3">
      <nav class="menu-top">
<pre><code>offcanvasMulti(size: (10em 0 5em 0), share: (0 0 0 0), show: (0 0 0 0))</code></pre>
      </nav>
      <footer class="menu-bottom"></footer>
      <div class="content">
        <button class="toggle-top">Toggle Top</button>
        <button class="toggle-bottom">Toggle Bottom</button>
      </div>
    </div>
  </div>
</section>