@require '../../../main'

#offcanvas
  button
    button()
  .code
    & > div
      +above(laptop)
        col(1/3)
    h4
      color darken(red, 30%)
  .specification
    clear both
  .offcanvas-multi
    clear both
    & dt
      margin: 0.5em 0
  .notes, .offcanvas-single
    +above(laptop)
      col(1/2)

.oc-examples
  padding 2em
  & > div
    display inline-block
    box-sizing border-box
    width 20em
    margin-right: 1em
    height 20em
    background red
    overflow hidden
.oc-1
  offcanvas(side: 'top', size: 8em, share: 0, show: 0, menu: 'nav', content: '.main')
  nav
    background teal
  button
    align(both)
.oc-2
  offcanvas(side: 'right', size: 12em, share: 0em, show: 0)
  nav
    background yellow
  .content
    text-align: center
.oc-3
  offcanvasMulti(size: (10em 0 5em 0), share: (0 0 0 0), show: (0 0 0 0))
  .menu-top
    background orange
  .menu-bottom
    background gray
  .content
    text-align: center
    button
      position: relative
      top 60%