<section id="offcanvas" class="mixin">
  <header>
    <h2>offcanvas</h2>
    <p>
      The offcanvas mixin allows you to create a menu that hides outside of it's parent element, and opens/closes by adding/removing a class
      on the parent element.<br>The menu on the left side of this page is an example of the offcanvas mixin.
    </p>
  </header>
  <div class="tabs">
    <div>
      <span class="active">Use</span>
      <span>Params</span>
      <span>Notes</span>
    </div>
    <div>
    
      <section class="basic-use active">
        <h3>Basic Use</h3>
        <div>
          <div class='html'>
            <h4>HTML</h4>
            <pre><code>&lt;div class="container"&gt;<br>  &lt;div class="menu-left"&gt;Left menu&lt;/div&gt;<br>  &lt;div class="content"&gt;<br>    &lt;button&gt;Toggle menu&lt;/button&gt;<br>    &lt;article&gt;My content&lt;/article&gt;<br>  &lt;/div&gt;<br>&lt;/div&gt;</code></pre>
          </div>
          <div class='stylus'>
            <h4>Stylus</h4>
            <pre><code>.container<br>  offcanvas()</code></pre>
          </div>
        </div>
        <div class='jquery'>
          <h4>jQuery</h4>
          <pre><code>$('button').on('click', function (e) {<br>  $('.container').toggleClass('open');<br>})</code></pre>
        </div>
      </section>

      <section class="params">
        <h2>Parameters and defaults</h2>
        <p>params(side:'left', size:15em, share:40em, show:80em, push:0, menu:'.menu', content:'.content', open: 'open', transition:all 03s ease)</p>
        <dl>
          <dt>side</dt>
          <dd>Orientation of offcanvas menu.  Options are 'top', 'right', 'bottom', or 'left'</dd>
          <dt>size</dt>
          <dd>Width of left/right menus, height of top/bottom menus</dd>
          <dt>share</dt>
          <dd>Minimum screen width at which menu will share the container with content when menu is open.  Set to 0 to disable.</dd>
          <dt>show</dt>
          <dd>Minimum screen width at which menu can't be hidden.  Set to 0 to disable.</dd>
          <dt>push</dt>
          <dd>Only applies when share or show don't apply.  0 or false causes menu to overlap content.  1 or true causes
              menu to push content offscreen</dd>
          <dt>menu</dt>
          <dd>css selector for the menu element</dd>
          <dt>content</dt>
          <dd>css selector for the content element</dd>
          <dt>open</dt>
          <dd>class that gets toggled on the parent element for open/close</dd>
          <dt>transition</dt>
          <dd>transitions setting</dd>
        </dl>
      </section>

      <section class="notes">
        <h2>Notes</h2>
        <ul>
          <li>To disable share or show, set it to 0.</li>
          <li>To enable share or show at any screen size, set it to 0em.</li>
          <li>The offcanvas menu and content adopt the height of the parent element.
              For a full page offcanvas menu, you'll need to set height 100% on the parent element and all elements up through &lt;html&gt;.</li>
          <li>Offcanvas doesn't have any css rules for the toggle buttons, but it's on the roadmap.</li>
        </ul>
      </section>
    </div>
  </div>
</section>