@require 'main'

normalize-css()
//typography()

/**********************************
    Global settings
**********************************/

html, body
  padding 0
  margin 0
  height 100%
  background lightGray
  
article, #about
  max-width 88em
  margin 0 auto


pre
  pre()
code
  code()

dt
  font-weight bold
  margin-top 1em
  
a
  text-decoration none
  color darken(blue, 10%)
  transition: color 0.1s linear
  &:hover
    color pink


/**********************************
    Style classes
**********************************/

.hide
  hide()

+above(tablet)
  .html, .stylus
    col(1/2)

.jquery
  clear both

section.mixin
  margin-bottom 3em
  background #fff
  padding 1em
  shadow(3)
  header
    h2
      margin 0 1em 1em 0
      display inline-block
      border-bottom 1px solid #888
      padding 0 5em 0.3em 2em
    p
      margin-top 0
  .tabs
    margin-top 1em
    tabs()
    & > div:first-child span
      margin 0.5em 0.5em 0.5em 0
      padding 0.3em 0.6em
      +above(mobile)
        padding 0.5em 1em
        margin 0.5em 1em
      &.active
        border-bottom 2px solid pink
    & > div:last-child
      background #98CDDD
      & > section
        padding 1em



.menu-btn
  padding: 0 0.2em 0.2em
  position absolute
  z-index 1000
  border none
  outline none
  background transparent
  i
    font-size 2.3em
    position relative
    top 0.05em
    color #000
    background transparent
  
/**********************************
    Wrap
**********************************/

.wrap
  height 100%
  offcanvas(size: 20em, show: 0, share: 50em, transition: all 0.2s ease-out)
  & > .menu
    z-index 10
  &.open
    #toggle-left-offcanvas
      left 17em
  .content
    padding 0 1em
    +above(mobile)
      padding 0 2em
#toggle-left-offcanvas
  position fixed
  transition all 0.2s ease-out
  left 0
  