@require 'jeet'
@require 'rupture'
@require 'axis'

/* Color */
gray = #292929
lightGray = #E4E4E4
cream = #fdf8ee
pink = #DC6056
yellow = #EBB751
blue = #98CDDD
darkPurple = #2E2947
blueGray = #4A5B6B
purple = #A3819A


mobile = 30em
tablet = 60em
laptop = 80em

shadow(size=1, alpha=0.12)
  if size is 1
    box-shadow: 0 1px 2px rgba(0, 0, 0, alpha), 0 1px 2px rgba(0, 0, 0, alpha*2);
  if size is 2
    box-shadow: 0 2px 4px rgba(0, 0, 0, alpha), 0 2px 4px rgba(0, 0, 0, alpha*2);
  if size is 3
    box-shadow: 0 3px 6px rgba(0, 0, 0, alpha), 0 3px 6px rgba(0, 0, 0, alpha*2);


hide()
  position absolute
  top -9999px
  left -9999px